name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: Luka967/buildozer-action@v1.2.4
        with:
          command: buildozer android debug
          buildozer_version: master
