name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: buildozer action
        uses: jreleaser/buildozer-action@v0
        with:
          command: buildozer android debug
