name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libffi-dev gettext git autoconf automake libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake zip unzip openjdk-17-jdk

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      - name: Build with Buildozer
        run: |
          # SDK license တွေကို အကုန် yes လို့ အလိုအလျောက် ဖြေခိုင်းထားပါတယ်
          yes | buildozer android debug
        continue-on-error: false

      - name: Upload Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
